In [1]:
import pyodbc
import pandas as pd

# Connection string
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=localhost,1433;'
    'DATABASE=AdventureWorks2022;'
    'UID=SA;'
    'PWD=Sarahwanjiru77@'
)

# Example: Load customer data
query = """
SELECT TOP 10 p.FirstName, p.LastName, c.CustomerID
FROM Sales.Customer c
JOIN Person.Person p ON c.PersonID = p.BusinessEntityID;
"""

df = pd.read_sql(query, conn)
df.head()

/tmp/ipykernel_50555/463614795.py:20: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

  FirstName LastName  CustomerID
0     Devin   Martin       11181
1   Gabriel     Wang       11163
2    Javier  Alvarez       11140
3       Ian     Gray       11193
4  Lawrence   Blanco       11189

In [2]:
df

    FirstName   LastName  CustomerID
0       Devin     Martin       11181
1     Gabriel       Wang       11163
2      Javier    Alvarez       11140
3         Ian       Gray       11193
4    Lawrence     Blanco       11189
5  Jacqueline    Bennett       11199
6    Jennifer     Cooper       11187
7      Ashley  Henderson       11185
8     Jasmine        Lee       11183
9        Luis       Diaz       11203

In [3]:
# Customer_Recommendations_AdventureWorks.ipynb

# --- 1. Imports ---
import pyodbc
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import cosine_similarity
import matplotlib.pyplot as plt

# --- 2. Connect to AdventureWorks2022 ---
conn = pyodbc.connect(
    'DRIVER={ODBC Driver 17 for SQL Server};'
    'SERVER=localhost,1433;'
    'DATABASE=AdventureWorks2022;'
    'UID=SA;'
    'PWD=Sarahwanjiru77@'
)

# --- 3. Load sales and customer data ---
query = """
SELECT 
    soh.CustomerID,
    sod.ProductID,
    sod.OrderQty
FROM Sales.SalesOrderHeader soh
JOIN Sales.SalesOrderDetail sod ON soh.SalesOrderID = sod.SalesOrderID
"""
df = pd.read_sql(query, conn)

# --- 4. Create user-item matrix ---
user_item = df.pivot_table(index='CustomerID', columns='ProductID', values='OrderQty', aggfunc='sum', fill_value=0)

# --- 5. Compute similarity between customers ---
similarity = cosine_similarity(user_item)
similarity_df = pd.DataFrame(similarity, index=user_item.index, columns=user_item.index)

# --- 6. Function: Recommend products for a given customer ---
def recommend_products(customer_id, top_n=5):
    if customer_id not in user_item.index:
        return f"Customer ID {customer_id} not found."

    # Get similarity scores
    similar_customers = similarity_df[customer_id].sort_values(ascending=False)[1:6]  # exclude self

    # Initialize weighted_scores as a Series
    weighted_scores = pd.Series(0, index=user_item.columns)

    for sim_cust, score in similar_customers.items():
        weighted_scores += user_item.loc[sim_cust] * score

    # Remove products already purchased by this customer
    already_bought = user_item.loc[customer_id][user_item.loc[customer_id] > 0].index
    recommendations = weighted_scores.drop(index=already_bought)

    # Return top recommended ProductIDs
    return recommendations.sort_values(ascending=False).head(top_n)

# --- 7. Example Usage ---
customer_id = 11000  # Pick any valid customer from your data
recommendations = recommend_products(customer_id)
print(f"\nTop recommendations for Customer {customer_id}:\n", recommendations)

# --- 8. Optional: Plot customer similarity heatmap ---
import seaborn as sns
plt.figure(figsize=(10, 8))
sns.heatmap(similarity_df.head(10).iloc[:, :10], annot=True, cmap='viridis')
plt.title("Customer Similarity (Top 10)")
plt.show()

/tmp/ipykernel_50555/3086239947.py:28: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, conn)

NotImplementedError: fill_value 0 not supported.